.bg-dark {
  background-color: #2b323d;
}
::ng-deep .mat-select-panel {
  background: whitesmoke !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: whitesmoke;
}
button.mat-raised-button {
  background-color: orange;
  color: whitesmoke;
  font-weight: 500;
}
mat-label {
  color: whitesmoke;
  font-weight: 500;
}
::ng-deep .mat-focused .mat-form-field-label {
  color: whitesmoke !important;
}

::ng-deep .mat-form-field-underline {
  background-color: whitesmoke !important;
}

::ng-deep .mat-form-field-ripple {
  background-color: whitesmoke !important;
}
::ng-deep .mat-form-field-label {
  color: whitesmoke !important;
}

.font-white {
  color: whitesmoke;
  font-weight: 500;
}

::ng-deep .mat-select-value-text {
  color: whitesmoke !important;
}
