button.mat-raised-button {
  background-color: orange;
  color: whitesmoke;
  font-weight: 500;
}
.headline {
  font-size: 35px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.sub-headline {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}
.text {
  padding: 20px;
}
.text-center {
  text-align: center;
}
.font-white {
  color: whitesmoke;
  font-weight: 500;
}
.bg-dark {
  background-color: #2b323d;
}
.spacing {
  padding: 4px;
}
.center {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.as-link:hover {
  cursor: pointer;
}
.mt{
  margin-top: 20px;
}
.mt-5{
  margin-top: 5px;
}
.inline {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  vertical-align: middle;
}
.width-65{
  width: 65%;
}
.width-50{
  width: 50%;
}
.width-25{
  width: 25%;
}
.offersProfile {
  border: 2px solid orange;
  padding: 8px;
  max-width:80%;
  margin: 5px auto;
}
