<div>
  <div [routerLink]="''" class="inline as-link font-white">
    WorkIT - Your IT jobs listing page
  </div>
  <div class="inline right-align">
    <div
      *ngIf="!this.userService.logged"
      [routerLink]="'/auth'"
      class="inline as-link font-white"
    >
      Login
    </div>
    <div
      *ngIf="this.userService.logged"
      [routerLink]="'/profile'"
      class="as-link font-white text-center"
    >
      <div>
        {{ this.userService.user.username }}
      </div>
      <div>
        <button
          mat-raised-button
          (click)="logout()"
          class="as-link font-white text-center"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</div>
