<div class="center font-white bg-dark margin">
  <div class="headline min-height">{{ selectedOffer.name }}</div>
  <div class="sub-headline min-height">
    <div *ngIf="selectedOffer.salaryLowest == 0">Salary not specified</div>
    <div *ngIf="selectedOffer.salaryLowest > 0">
      {{ selectedOffer.salaryLowest }} - {{ selectedOffer.salaryHighest }}Kč
    </div>
  </div>
  <div class="sub-headline min-height">
    {{ selectedOffer.location.locationName }}
  </div>
  <div class="text">
    {{ selectedOffer.description }}
  </div>

  <div class="text-center bg-dark">
    <div *ngIf="!this.userService.logged">
      <mat-label>You have to login for reply</mat-label>
    </div>
    <div
      *ngIf="
        userService.user.role.name == 'user' &&
        userService.logged &&
        replyFormVisible
      "
    >
      <mat-card class="form bg-dark font-white mat-elevation-z0">
        <form [formGroup]="replyForm">
          <div class="spacing">
            <mat-form-field>
              <mat-label>Reply message</mat-label>
              <input matInput type="text" id="reply" formControlName="reply" />
            </mat-form-field>
          </div>
          <div class="spacing">
            <mat-form-field>
              <mat-label>CV</mat-label>
              <input matInput type="text" id="cv" formControlName="cv" />
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" (click)="submitReply()">
              Send reply
            </button>
          </div>
        </form>
      </mat-card>
    </div>
    <div
      class="responses"
      *ngIf="userService.user.role.name == 'recruiter' && userService.logged"
    >
      <div class="sub-headline">Responses</div>
      <div *ngIf="this.responses.length == 0">No responses yet.</div>
      <div>
        <div class="inline left-align response-list">
          <div>
            <div *ngIf="this.responses.length > 0">
              <div
                *ngFor="let response of responses"
                class="as-link border spacing"
              >
                <div (click)="this.setResponse(response.responseId)">
                  {{ response.user.userName }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="inline left-align text-left response-preview">
          <div>
            <div *ngIf="selectedResponseActive" class="border spacing">
              <div class="sub-headline">User</div>
              <div class="text">
                {{ this.selectedResponse.user.userName }}
              </div>
              <div class="sub-headline">Response</div>
              <div class="text">
                {{ this.selectedResponse.responseText }}
              </div>
              <div class="sub-headline">CV</div>
              <div class="text">
                {{ this.selectedResponse.curriculumVitae }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
