<h1>{{ selectedOffer.name }}</h1>
<h2>{{ selectedOffer.salaryLowest }} - {{ selectedOffer.salaryHighest }}Kč</h2>
<h3>{{ selectedOffer.location.locationName }}</h3>
<p>{{ selectedOffer.description }}</p>
<div>
  <div *ngIf="!this.userService.logged">
    <mat-label>You have to login for reply</mat-label>
  </div>
  <div *ngIf="userService.user.role.name == 'user' && userService.logged">
    <mat-card class="form">
      <form [formGroup]="replyForm">
        <div>
          <label>Position name</label>
          <input
            matInput
            type="text"
            id="reply"
            placeholder="Reply message"
            formControlName="reply"
          />
        </div>
        <div>
          <label>Position name</label>
          <input
            matInput
            type="text"
            id="cv"
            placeholder="Your CV"
            formControlName="cv"
          />
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="submitReply()">
            Send reply
          </button>
        </div>
      </form>
    </mat-card>
  </div>
  <div *ngIf="userService.user.role.name == 'recruiter' && userService.logged">
    <div class="inline left-align">
      <div *ngFor="let response of responses">
        <div (click)="this.setResponse(response.responseId)">
          {{ response.user.userName }}
        </div>
      </div>
    </div>
    <div class="inline left-align">
      <div *ngIf="selectedResponseActive">
        <h3>User</h3>
        <p>
          {{ this.selectedResponse.user.userName }}
        </p>
        <h3>Response</h3>
        <p>
          {{ this.selectedResponse.responseText }}
        </p>
        <h3>CV</h3>
        <p>
          {{ this.selectedResponse.curriculumVitae }}
        </p>
      </div>
    </div>
  </div>
</div>
