.as-link:hover {
  cursor: pointer;
}
.inline {
  display: inline;
}
.left-align {
  float: left;
}
.response-list {
  width: 10%;
  padding: 3px;
}
.response-preview {
  width: 20%;
  padding: 3px;
}
.center {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.font-white {
  color: whitesmoke;
  font-weight: 500;
}
.bg-dark {
  background-color: #2b323d;
}
.spacing {
  padding: 4px;
}
.header-spacing {
  margin-bottom: 0px;
}
.headline {
  font-size: 35px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.sub-headline {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}
.text {
  padding: 5px;
}
.margin {
  margin-top: 10px;
}
.min-height {
  min-height: 30px;
}
button.mat-raised-button {
  background-color: orange;
  color: whitesmoke;
  font-weight: 500;
}
.responses {
  margin-top: 5%;
}
.border {
  border: 1px solid orange;
}

.container {
  display: table;
  width: 70%;
}
.table-row {
  display: table-row;
  height: 100%;
}
.table-cell {
  border: 1px solid;
  background: #ce8888;
  display: table-cell;
  padding: 2px;
}
::ng-deep .mat-focused .mat-form-field-label {
  color: whitesmoke !important;
}

::ng-deep.mat-form-field-underline {
  background-color: whitesmoke !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: whitesmoke !important;
}
::ng-deep .mat-form-field-label {
  color: whitesmoke !important;
}
