<mat-card class="inline-block">
    <form [formGroup]="authForm" class="form">
      <div>
        <label>Username</label>
        <input
          matInput
          type="text"
          id="username"
          placeholder="Enter username"
          formControlName="username"
          required
        />
      </div>
      <div>
        <label>Password</label>
        <input
          matInput
          type="password"
          id="password"
          placeholder="Enter password"
          formControlName="password"
        />
      </div>
      <div *ngIf="register">
        <label>Repeat password</label>
        <input
          matInput
          type="password"
          id="password2"
          placeholder="Repeat password"
          formControlName="password2"
        />
      </div>
      <div>
        {{errMessage}}
      </div>
      <label (click)="toggleRegister()">{{authLabel}}</label>
      <div>
        <button
          mat-raised-button
          color="primary"
          (click)="authUser()"
        >
          {{btnLabel}}
        </button>
      </div>
    </form>
  </mat-card>
  
