<mat-card class="center bg-dark font-white mat-elevation-z0">
  <div>
    <form [formGroup]="authForm" class="form inline">
      <div class="spacing">
        <mat-form-field
          ><input
            matInput
            type="text"
            id="username"
            placeholder="Enter username"
            formControlName="username"
            required
        /></mat-form-field>
      </div>
      <div class="spacing">
        <mat-form-field>
          <input
            matInput
            type="password"
            id="password"
            placeholder="Enter password"
            formControlName="password"
          />
        </mat-form-field>
      </div>
      <div *ngIf="register" class="spacing">
        <mat-form-field>
          <input
            matInput
            type="password"
            id="password2"
            placeholder="Repeat password"
            formControlName="password2"
          />
        </mat-form-field>
      </div>
      <div>
        {{ errMessage }}
      </div>
      <label (click)="toggleRegister()">{{ authLabel }}</label>
    </form>
  </div>
  <div class="vertical-auto spacing">
    <button mat-raised-button color="primary" (click)="authUser()">
      {{ btnLabel }}
    </button>
  </div>
</mat-card>
